{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="d-flex flex-column gap-3">
            <h1>Create new credential</h1>
            <a href="{{ path('app_credential_new') }}">new</a>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Login</th>
                    <th>Encrypted password</th>
                    <th>Password length</th>
                    <th>Plain password</th>
                </tr>
                </thead>
                <tbody>
                {% for credential in credentials %}
                    <tr>
                        <td>{{ credential.name }}</td>
                        <td>{{ credential.login }}</td>
                        <td>{{ credential.password }}</td>
                        <td>{{ credential.password | length }}</td>
                        <td>{{ credential.password | decrypt_openssl(getenv('openssl_encrypt_passphrase'), credential.iv) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}