{% extends 'base.html.twig' %}

{% block body %}
    <div class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="col col-md-6 d-flex flex-column gap-3">
            <a href="{{ path('app_credential_index') }}"><- List</a>
            <h1>Create new credential</h1>
            {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.login) }}
                {{ form_row(form.plainPassword) }}
                <button type="submit" class="btn btn-primary">Submit</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}